* {
    font-family: "Montserrat", sans-serif;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    border-bottom: 2px solid #cacaca;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 20px 0 20px 10px;
    width: 100%;
    padding: 10px 5px;
    background: #4d5656;
    color: white;
    font-weight: bold;
    transition: 0.2s all;
}

input:focus, textarea:focus {
    outline: none;
    text-align: center;
    border-bottom: 2px solid white;
    transform: scale(1.03);
}

input::placeholder, textarea::placeholder {
    color: white;
    text-align: center;
}

input:not(:focus), textarea:not(:focus) {
    outline: none;
    text-align: center;
}

button {
    color: #424949;
    background: white;
    border: 1px solid #424949;
    font-weight: bold;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.2s all;
}

button:hover {
    color: white;
    background: #424949;
    border: 1px solid white;
    transform: scale(1.02);
}

button:disabled {
    cursor: auto;
    color: white;
    background-color: #b9b9b9;
    border: 1px solid #b9b9b9;
    transform: none;
}
