ul {
    width: 80%;
}

.note-item {
    background: #FEF884;
    border: 1px solid #FFF633;
    border-radius: 7px;
    margin: 10px;
    width: auto;
    display: inline-block;
    box-shadow: 1px 1px 5px gray;
    transition: 0.2s all;
}

.note-item:hover {
    transform: scale(1.05);
}