ul {
    height: 500px;
    overflow-y: scroll;
    overflow: auto;
}

.note-item {
    background: #424949;
    border: 1px solid white;
    border-radius: 7px;
    margin: 10px;
    width: auto;
    display: inline-block;
    transition: 0.2s all;
}

.note-item:hover {
    transform: scale(1.05);
}