* {
  font-family: 'Montserrat';
}

body {
  background: #FBFBFB;
}

.title {
  text-align: center;
  text-shadow: 1px 1px 2px #CACACA;
}

hr {
  border: 0.5px solid #CACACA;
}

section {
  display: flex;
}

.notes-form-container {
  width: 50%;
}

.half-line {
  transform: rotate(180deg);
  height: 500px;
  border: 0.5px solid #CACACA;
}

.notes-list-container {
  width: 50%;
}